* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  min-width: 300px;
  margin: 0 auto;
  position: relative;
}

.ask-live-button {
  position: absolute;
  right: 15px;
  top: 0;
  height: 48px;
  width: 100px;
}

.community-live-center {
  position: absolute;
  top: 50px;
  right: 15px;
  width: 300px;
}

.user-count {
  text-align: left;
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
}

.user-count .status-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: gray;
  margin-right: 5px;
  vertical-align: bottom;
}

.user-count.available .status-icon {
  background: green;
}

.messages-container {
  list-style: none;
  padding: 10px;
  box-shadow: 0 8px 12px rgb(9 30 66 / 15%), 0 0 1px rgb(9 30 66 / 31%);
  min-height: 100px;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  background-color: white;
}

.messages-container .message-container {
  margin-bottom: 20px;
  display: flex;
}

.messages-container .message-container.you {
  justify-content: flex-end;
}

.messages-container .message-container .message-wrapper {
  text-align: left;
  padding: 10px;
  min-height: 40px;
  position: relative;
  min-width: 150px;
}

.messages-container .message-container.others .message-wrapper {
  padding-left: 50px;
}

.messages-container .message-container.you .message-wrapper {
  padding-right: 50px;
}

.messages-container .message-container .avatar {
  text-transform: uppercase;
  padding: 5px;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 0;
  background: gray;
  color: white;
}

.messages-container .message-container.you .avatar {
  background: green;
  right: 0;
}

.messages-container .message-container.others .avatar {
  left: 0;
}

.messages-container .message-container .timestamp {
  font-size: 8px;
  position: absolute;
  bottom: 0;
  white-space: nowrap;
}

.messages-container .message-container.others .timestamp {
  left: 50px;
}

.messages-container .message-container.you .timestamp {
  right: 50px;
}

.controls-container {
  position: relative;
}

.controls-container .input-text {
  height: 50px;
  width: 100%;
  padding-right: 100px;
}

.controls-container .input-text:focus-visible {
  outline: none;
}

.controls-container .send-btn {
  height: 50px;
  width: 100px;
  position: absolute;
  right: 0;
}

.notification-container {
  font-size: 0.75rem;
  text-align: left;
  font-style: italic;
}

.notification-container .info {
  color: #17a2b8;
}

.communtiy-atlassian-iframe {
  width: 100%;
  min-height: 800px;
  border: none;
}

button {
  color: #fff;
  background-color: #172b4d;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}

button:active {
  background-color: #0062cc;
}
